.container
  .row
    .group.pull-right
      = link_to "批量输入科研",batch_grade_user_path(@grade,@user),:class =>"btn btn-mini  btn-primary"

    .title
      %h2
        = @user.name
        = "基本情况一览表"
        %br
  .row
    .col-md-1
    .col-md-4
      %p 一、学生基本情况
      %table{:class =>"table table-bordered"}
        %tbody
          %tr
            %td= "学号"
            %td= @user.stuno
            %td= "姓名"
            %td= @user.name
          %tr
            %td= "年级"
            %td= @user.grade.name
            %td= "专业"
            %td= @user.major

  .row
    .col-md-1
    .col-md-4
      %p 二、课程成绩
      %table{:class =>"table table-bordered"}
        %thead
          %tr
            %td= "课程"
            %td= "成绩"
        %tbody
          - @user.scores.each do |score|
            %tr
              %td= score.course.name
              %td= score.course_score
              %td= link_to "修改",edit_score_path(score)
              %td= link_to "删除",score_path(score),:method => :delete, :confirm => "确定要删除该条记录？"
    .col-md-3
    .col-md-4
      %p 成绩输入
      = simple_form_for @score do |f|
        = f.association :course,:label=>"课程"
        = f.input :course_score,:label=>"成绩"
        .form-actions
          =f.submit "生成",:disable_with => "正在提交中...",:class =>"btn btn-primary "

  .row
    .col-md-1
    .col-md-10
      %p 三、科研成果列表
      %table{:class =>"table table-bordered"}
        %thead
          %tr
            %td= "文章标题"
            %td= "发表刊物"
            %td= "是否独著"
            %td= "出版时间"
            %td= "字数"
            %td= "合著第几作者"
            %td= "  "
        %tbody
          - @user.researches.each do |research|
            %tr
              %td= research.title
              %td= research.magazine
              %td= research.self_write
              %td= research.publish_time
              %td= research.words_count
              %td= research.author
              %td= link_to "修改",edit_research_path(research)
              %td= link_to "删除",research_path(research),:method => :delete, :confirm => "确定要删除该条记录？"

      =simple_form_for @research do |f|
        =f.input :title,:label => "文章标题"
        =f.input :magazine, :label=>"发表刊物"
        =f.input :self_write,:label=>"是否独著"
        =f.input :publish_time,:label=>"发表时间"
        =f.input :words_count, :label=>"字数"
        =f.input :author, :label=>"合著第几作者"

        .form-actions
          =f.submit "生成",:disable_with => "正在提交中...",:class =>"btn btn-primary "


