.container
  .row
    .title
      %h2
        = @user.name
        = "基本情况一览表"
        %br
  .row
    .col-md-1
    .col-md-4
      %p 一、学生基本情况
      %table{:class =>"table table-bordered"}
        %tbody
          %tr
            %td= "学号"
            %td= @user.stuno
            %td= "姓名"
            %td= @user.name
          %tr
            %td= "年级"
            %td= @user.grade.name
            %td= "专业"
            %td= @user.major
  .row
    .col-md-1
    .col-md-4
      %p 二、课程成绩
      %table{:class =>"table table-bordered"}
        %thead
          %tr
            %td= "课程"
            %td= "成绩"
        %tbody
          - @user.scores.each do |score|
            %tr
              %td= score.course.name
              %td= score.course_score

  .row
    .col-md-1
    .col-md-10
      %p 三、科研成果列表
      %table{:class =>"table table-bordered"}
        %thead
          %tr
            %td= "文章标题"
            %td= "发表刊物"
            %td= "是否独著"
            %td= "出版时间"
            %td= "字数"
            %td= "合著第几作者"
        %tbody
          - @user.researches.each do |research|
            %tr
              %td= research.title
              %td= research.magazine
              %td= research.self_write
              %td= research.publish_time
              %td= research.words_count
              %td= research.author
    .col-md-1