.container
  .row
    .col-md-12
      %h3
        = @grade.name
        = "--"
        = @course2.name
        = "--"
        = "成绩批量录入"
  .row
    .col-md-2
    .col-md-8
      .notice-batch
        注意：必须要点击 “提交成绩” 按钮后，才可以关闭或离开本页。
      = simple_form_for(@course,:url => batchupgrade_course_path(@course2)) do |f|
        %table{:class =>"table table-bordered"}
          %thead
            %tr
              %td= "学号"
              %td= "姓名"
              %td= "成绩"
          %tbody
            = f.simple_fields_for :scores do |score_form|
              %tr
                = score_form.hidden_field :user_id
                %td= score_form.input_field :user_stuno
                %td= score_form.input_field :user_name
                %td= score_form.input_field :course_score

        =f.submit "提交成绩 "


