.span12
  = simple_form_for @course.with_blank_scores do |f|
    = f.input :name, :label =>"课程名称",:input_html => {:class => "input-xxlarge"}
    = f.input :teacher,:label =>"授课老师", :input_html => {:class => "input-xxlarge"}

    = f.simple_fields_for :scores do |score_form|
      = score_form.association :user
      = score_form.input :course_score
    .form-actions
      =f.submit "提交",:disable_with => "正在提交中...",:class =>"btn btn-primary "